*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    border: 10px solid black;
    height: 80vh;
}

.red{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.green{
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
}

/* header {
    background-color: blue;
    height: 33.33%;
}

main {
    background-color: salmon;
    height: 33.33%;
}

footer {
    background-color: red;
    height: 33.33%;
} */